[submodule "home/wm/dwm-flexipatch"]
	path = home/wm/dwm-flexipatch
	url = https://github.com/alainpham/dwm-flexipatch.git
[submodule "home/wm/st-flexipatch"]
	path = home/wm/st-flexipatch
	url = https://github.com/alainpham/st-flexipatch.git
[submodule "home/wm/dmenu-flexipatch"]
	path = home/wm/dmenu-flexipatch
	url = https://github.com/alainpham/dmenu-flexipatch.git
[submodule "home/wm/dwmblocks"]
	path = home/wm/dwmblocks
	url = https://github.com/alainpham/dwmblocks.git
[submodule "home/wm/slock-flexipatch"]
	path = home/wm/slock-flexipatch
	url = https://github.com/alainpham/slock-flexipatch.git
