polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.NetworkManager.reload" &&
        (subject.isInGroup("user") || subject.isInGroup("users"))) {
        return polkit.Result.YES;
    }
});
